@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Ruda&display=swap');

.navbar {
    font-family: 'Rock Salt', cursive;
}

#title {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding-top: 5%; 
    font-size: 90px;
    color: #000080;

}

h2, p {
}

#intro {
   font-family: 'Architects Daughter', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../../cakephotos/background.png);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#intro, #heading {
    text-align: center;
    padding-top: 5%; 
    font-size: 50px;
    color: #000080;
}

.selection {    
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .side-border {
    border-right: green solid 2px;
} */

.picture {
    width: 100%;
    /* border-radius: 50%; */
    background-color: aqua;
}
.picture:hover {
    transform: scale(1.07);
    transition: 1s ease-in-out;
}